
.sistem-cardd {
    width: 100%;
    height: 250px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f0f0f0;
    overflow: visible; /* Allow content to overflow outside the card */
    position: relative; /* Set position to relative */
    z-index: 1;
    padding: 1%
  }
  
  .sistem-contentt {
    display: flex;
    flex-direction: row; /* Set the direction to row for a horizontal layout */
    width: 100%;
  }
  
  .sistem-textt {
    flex: 1;
    padding: 20px;
   
  }
  
  .sistem-imagee {
    flex-shrink: 0;
  }
  
  .sistem-imagee img {
    width: 430px; /* Adjust the width property to control the image size */
    z-index: 5;
    margin-top: -110px;
    position: absolute;
    margin-left: -300px;
   
  }

  #title {
    background-color: #B9FF66;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 25px;
    width: 50%;
    padding-left: 10px;
    margin-left: 10px;
  }

  .sistem-textt p{
    margin-top: 10px;
    font-weight: 600;
    width: 80%;
   
  }
  