
.sistem-card {
    width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f0f0f0;
    overflow: visible; /* Allow content to overflow outside the card */
    position: relative; /* Set position to relative */
    z-index: 1;
    padding: 1%
  }
  
  .sistem-content {
    display: flex;
    flex-direction: row; /* Set the direction to row for a horizontal layout */
    width: 100%;
  }
  
  .sistem-text {
    flex: 1;
    padding: 20px;
   
  }
  
  .sistem-image {
    flex-shrink: 0;
  }
  
  .sistem-image img {
    width: 430px; /* Adjust the width property to control the image size */
    z-index: 5;
    margin-top: -110px;
    position: absolute;
    margin-left: -50px;
   
  }

  #Title {
    background-color: #B9FF66;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 25px;
    width: 100%;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .sistem-text p{
    margin-top: 10px;
    font-weight: 600;
   
  }

  .embedded-pdf-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.embedded-pdf {
    width: 60%;
    height: 600px;
}

  

  @media only screen and (max-width: 768px) {
    .sistem-content {
        flex-direction: column; /* Adjust direction to column for a vertical layout */
    }

    .embedded-pdf {
      width: 90%; /* Adjust width for smaller screens */
      height: 500px; /* Adjust height accordingly */
  }
    
    .sistem-image img {
        margin-top: 0;
        position: static;
        transform: none;
    }
}

/* Media query for even smaller screens */
@media only screen and (max-width: 480px) {
  #Title {
    background-color: #B9FF66;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .embedded-pdf {
    width: 100%; /* Make the PDF fill the container width */
    height: 400px; /* Adjust height for smaller screens */
}

    .sistem-image img {
        max-width: 100%; /* Ensure image fills the card width */
    }
}